@tailwind base;
@tailwind components;
@tailwind utilities;

.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.my-masonry-grid_column {
    background-clip: padding-box;
}

input[type='checkbox'] {
    accent-color: #e5e7eb;
}

textarea {
    outline: none;
    border: none;
    padding: 1opx;
}

label {
    display: none;
}

input {
    outline: none;
}

body {
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(#0d0d31 1.25px, transparent 1.25px), radial-gradient(#0d0d31 1.25px, #e5e5f7 1.25px);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
}

@media (max-width: 1200px) {
    .my-masonry-grid {
        column-count: 4;
    }
}

@media (max-width: 992px) {
    .my-masonry-grid {
        column-count: 3;
    }
}

@media (max-width: 768px) {
    .my-masonry-grid {
        column-count: 2;
    }
}

@media (max-width: 576px) {
    .my-masonry-grid {
        column-count: 1;
    }
}